@using Web.App.Domain.Charts
@using Web.App.Extensions
@model Web.App.ViewModels.SchoolComparisonItSpendTableViewModel

@if (Model.SubCategory.Data is null)
{
    <div
        class="govuk-warning-text govuk-!-margin-top-2 govuk-!-margin-bottom-2 ssr-chart-warning">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Unable to display data
        </strong>
    </div>
    return;
}
<div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">School name</th>
            <th scope="col" class="govuk-table__header">Local Authority</th>
            <th scope="col" class="govuk-table__header">Pupils</th>
            <th scope="col" class="govuk-table__header">@Model.ResultAs.GetTableHeader()</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var row in Model.SubCategory.Data)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @if (row.Urn == Model.Urn)
                    {
                        <strong>
                            <a class="govuk-link govuk-link--no-visited-state"
                               href=@($"/school/{row.Urn}")>@row.SchoolName</a>
                        </strong>
                    }
                    else
                    {
                        <a class="govuk-link govuk-link--no-visited-state"
                           href=@($"/school/{row.Urn}")>@row.SchoolName</a>
                    }

                    @if (row.PeriodCoveredByReturn is not 12)
                    {
                        <p class="govuk-table__cell_commentary">
                            <strong class="govuk-tag govuk-tag--red">
                                Only has @row.PeriodCoveredByReturn
                                @(row.PeriodCoveredByReturn == 1 ? "month" : "months") of data
                            </strong>
                        </p>
                    }
                </td>
                <td class="govuk-table__cell">@row.LAName</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@row.TotalPupils.ToSimpleDisplay()</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@Model.ResultAs.GetFormattedValue(row.Expenditure)</td>
            </tr>
        }
        </tbody>
    </table>
</div>