@using Web.App.Extensions
@model Web.App.ViewModels.SchoolComparisonItSpendViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.ComparisonItSpend;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Urn,
    kind = OrganisationTypes.School
})

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state"
               href="@Url.Action("Index", "SchoolComparators", new { urn = Model.Urn })"
               data-test-id="comparators-link">We've chosen 2 sets of similar schools</a>
            to benchmark this school's spending against.
        </p>
    </div>
</div>

@for (var i = 0; i < Model.SubCategories.Count; i++)
{
    var subCategory = Model.SubCategories.ElementAt(i);
    var uuid = Guid.NewGuid();

    if (i > 0)
    {
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">
    }

    <section id="cost-sub-category-@subCategory.SubCategory?.ToSlug()">
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s govuk-!-font-size-27">@subCategory.SubCategory</h2>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-full">
                <div id="@uuid" class="costs-chart-container" data-title="@subCategory.SubCategory">
                    <div class="costs-chart-wrapper">
                        @if (string.IsNullOrWhiteSpace(subCategory.ChartSvg))
                        {
                            <div
                                class="govuk-warning-text govuk-!-margin-top-2 govuk-!-margin-bottom-2 ssr-chart-warning">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    Unable to display chart
                                </strong>
                            </div>
                        }
                        else
                        {
                            @if (subCategory.HasNegativeOrZeroValues)
                            {
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-visually-hidden">Warning</span>
                                        Only displaying schools with positive expenditure.
                                    </strong>
                                </div>
                            }

                            <div class="govuk-!-margin-bottom-2 ssr-chart horizontal-bar-chart">
                                @Html.Raw(subCategory.ChartSvg)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

