@using Newtonsoft.Json
@using Web.App.Extensions
@model Web.App.ViewModels.TrustComparisonViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.TrustComparison;
    const string eventType = "compare-your-costs-loaded";
}

@await Component.InvokeAsync("PageActions", new
{
    actions = new[] { PageActions.SaveChartImages },
    saveFileName = $"benchmark-spending-{Model.CompanyNumber}.zip",
    saveClassName = "costs-chart-wrapper",
    saveTitleAttr = "data-title",
    waitForEventType = eventType
})

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.CompanyNumber,
    kind = OrganisationTypes.Trust
})

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.Trust,
    sourceType = DataSourceTypes.Spending,
    isPartOfTrust = true,
    additionText = new[] { "View the spending between schools in this trust." }
})

@if (Model.NumberOfSchools > 0)
{
    <div id="compare-your-costs"
         data-type="@OrganisationTypes.Trust"
         data-id="@Model.CompanyNumber"
         data-phases="@Model.Phases.ToJson(Formatting.None)"
         data-dispatch-event-type="@eventType"
         data-cost-code-map="@Model.CostCodeMap.ToJson(Formatting.None)">
    </div>
}

@await Component.InvokeAsync("TrustFinanceTools", new
{
    identifier = Model.CompanyNumber,
    tools = new[]
    {
        FinanceTools.BenchmarkCensus,
        FinanceTools.CentralServices,
        FinanceTools.ForecastRisk,
        FinanceTools.FinancialPlanning
    }
})