@model Web.App.ViewModels.Components.DataSourceViewModel

<div class="@(Model.WrapperClassName)">
    <div class="@(Model.ClassName)">
        @foreach (var text in Model.AdditionText)
        {
            <p class="govuk-body">@text</p>    
        }
        @foreach (var dataSource in @Model.DataSource)
        {
            <p class="govuk-body">@dataSource</p>
        }
    </div>
</div>
