@model Web.App.ViewModels.Components.FinanceToolsViewModel

<div class="govuk-grid-row" id="benchmarking-and-planning-tools">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Benchmarking and planning tools</h2>
        <ul class="app-links">
            @foreach (var tool in Model.Tools)
            {
                switch (tool)
                {
                    case FinanceTools.CompareYourCosts:
                        <li>
                            <a href="@Url.Action("Index", "SchoolComparison", new { urn = Model.Identifier })" aria-label="Benchmark spending">
                                <img src="/assets/images/compare-your-costs.png" alt="" class="app-view-component">
                            </a>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolComparison", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Benchmark spending</a>
                            </h3>
                            <p class="govuk-body">
                                Benchmark spending against similar schools or other schools of your choice.
                            </p>
                        </li>
                        break;
                    case FinanceTools.FinancialPlanning:
                        <li>
                            <a href="@Url.Action("Index", "SchoolPlanning", new { urn = Model.Identifier })" aria-label="Curriculum and financial planning">
                                <img src="/assets/images/curriculum-financial-planning.png" alt="" class="app-view-component">
                            </a>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolPlanning", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Curriculum and financial planning</a>
                            </h3>
                            <p class="govuk-body">
                                Measure expected curriculum spending and staffing structure.
                            </p>
                            <strong class="govuk-tag govuk-tag--grey">
                                Requires login
                            </strong>
                        </li>
                        break;
                    case FinanceTools.BenchmarkCensus:
                        <li>
                            <a href="@Url.Action("Index", "SchoolCensus", new { urn = Model.Identifier })" aria-label="Benchmark pupil and workforce data">
                                <img src="/assets/images/benchmark-census.png" alt="" class="app-view-component">
                            </a>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolCensus", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Benchmark pupil and workforce data</a>
                            </h3>
                            <p class="govuk-body">
                                Benchmark pupil and workforce data against other schools.
                            </p>
                        </li>
                        break;
                    case FinanceTools.SpendingComparisonIt:
                        <feature name="@FeatureFlags.CfrItSpendBreakdown">
                            <li>
                                <h3 class="govuk-heading-s">
                                    <a href="@Url.Action("Index", "SchoolComparisonItSpend", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Benchmark IT spending</a>
                                </h3>
                                <p class="govuk-body">
                                    This cost category has been broken down into 7 sub categories to give a more detailed view of IT spending.
                                </p>
                            </li>
                        </feature>
                        break;
                }
            }
        </ul>
    </div>
</div>