@using Web.App.Domain.Charts
@using Web.App.ViewModels
@using Web.App.ViewModels.Components
@model Web.App.ViewModels.SchoolSeniorLeadershipViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SeniorLeadership;
    var downloadLink = Url.ActionLink("SeniorLeadershipDownload", "SchoolCensus", new
    {
        urn = Model.Urn
    });
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Urn,
    kind = OrganisationTypes.School
})

@await Component.InvokeAsync("DataSourceInset", new
{
    organisationType = OrganisationTypes.School,
    sourceType = DataSourceTypes.Census,
})

@await Component.InvokeAsync("ComparatorSetDetails", new
{
    identifier = Model.Urn,
    Model.HasUserDefinedSet,
    hasCustomData = false,
    Model.HasMissingComparatorSet,
    type = ComparatorSetType.Workforce,
    showAsBulletedList = true,
    showCustomDataOption = false
})

@if (!Model.HasMissingComparatorSet)
{
   
    <div class="govuk-grid-row senior-leadership-actions">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm(FormMethod.Post, true, new
                    {
                        @class = "actions-form",
                        novalidate = "novalidate",
                        role = "search"
                    }))
            {
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-label">
                            View as
                        </legend>
                        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios"
                             id="@nameof(SchoolSeniorLeadershipViewModel.ViewAs)">
                            @foreach (var view in Views.All)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           id="view-@view"
                                           name="@nameof(SchoolSeniorLeadershipViewModel.ViewAs)" type="radio"
                                           value="@((int)view)"
                                           @(Model.ViewAs == view ? "checked" : "")>
                                    <label class="govuk-label govuk-radios__label"
                                           for="view-@view">
                                        @view.GetDescription()
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="@nameof(SchoolSeniorLeadershipViewModel.ResultAs)">
                        Compare by
                    </label>
                    <select class="govuk-select" id="@nameof(SchoolSeniorLeadershipViewModel.ResultAs)" name="@nameof(SchoolSeniorLeadershipViewModel.ResultAs)">
                        @foreach (var option in CensusDimensions.All)
                        {
                            <option
                                value="@((int)option)"
                                selected="@(Model.ResultAs == option ? "selected" : null)">
                                @option.GetDescription()
                            </option>
                        }
                    </select>
                </div>

                <div class="actions-form__button">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Apply
                    </button>
                </div>
            }
        </div>
        
        <div class="govuk-grid-column-one-third">
            @await Component.InvokeAsync("PageActions", new
            {
                actions = new[]
                {
                    PageActions.DownloadData
                },
                downloadLink
            })
        </div>
    </div>
    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Senior leadership composition (Full Time Equivalent)</h2>
        </div>
        <div class="govuk-grid-column-one-third">
            @if (Model.ViewAs == Views.ViewAsOptions.Chart)
            {
                @await Component.InvokeAsync("ChartActionsSsr", new
                {
                    elementId = Model.ChartId,
                    title = "Senior leadership composition (Full Time Equivalent)",
                })
            }
        </div>
    </div>
    
    @if (Model.ViewAs == Views.ViewAsOptions.Chart)
    {
        @await Html.PartialAsync("_SeniorLeadershipChart")
    }
    else
    {
        @await Html.PartialAsync("_SeniorLeadershipTable")
    }
}

@await Html.PartialAsync("FinanceTools/_School", Model.Tools)

@section scripts
{
    @await Html.PartialAsync("_SchoolSeniorLeadershipChartTooltip", new SchoolSeniorLeadershipChartTooltipViewModel
    {
        Data = Model.TooltipData
    })
  
    @await Html.PartialAsync("Enhancements/_ChartActions", new Web.App.ViewModels.Enhancements.ChartActionsViewModel
    {
        DataSetAttribute = "chart-actions",
        ShowCopy = false,
        ShowSave = true,
        ShowTitle = true
    })
}