@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.ComparatorSetDetailsViewModel

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds" data-testid="comparator-set-details">
        <h2 class="govuk-heading-m">How data is presented</h2>
        @if (Model.HasUserDefinedSet)
        {
            <p class="govuk-body">
                You are now comparing with your chosen schools.
            </p>
            @await Html.PartialAsync("Components/ComparatorSetDetails/_DataInformation")
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state"
                   href="@Url.Action("UserDefined", "SchoolComparators", new
                         {
                             urn = Model.Identifier
                         })">
                    Change your similar schools.
                </a>
            </p>
        }
        else if(Model.HasCustomData)
        {
            <p class="govuk-body">
                The information displayed is the originally reported data, not the customised data that was provided.
            </p>
            @await Html.PartialAsync("Components/ComparatorSetDetails/_DataInformation")
            <p class="govuk-body">
                You can:
            </p>
            <ul class="govuk-list govuk-list--bullet" data-testid="actions-list">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state"
                       href="@Url.Action(Model.Type == ComparatorSetType.Workforce ? "Workforce" : "Index", "SchoolComparators", new
                             {
                                 urn = Model.Identifier
                             })">view the @(Model.Type == ComparatorSetType.Workforce ? "set" : "2 sets") of similar schools we've chosen</a> to benchmark this school's @(Model.Type == ComparatorSetType.Workforce ? "pupil and workforce data" : "spending") against
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state"
                       id="custom-data-link"
                       href="@Url.Action("CustomData", "School", new
                             {
                                 urn = Model.Identifier
                             })">view custom data set</a>
                </li>
            </ul>
        }
        else
        {
            if (Model.HasMissingComparatorSet)
            {
                <p class="govuk-body" data-testid="missing-comparator-set-message">
                    There is not enough information available to create a set of similar schools.
                </p>
                <p class="govuk-body">
                    You can:
                </p>
                <ul class="govuk-list govuk-list--bullet" data-testid="actions-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state"
                           href="@Url.Action("Index", "SchoolComparatorsCreate", new
                                 {
                                     urn = Model.Identifier
                                 })">create or save your own set of schools</a> to benchmark against
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state"
                           id="custom-data-link"
                           href="@Url.Action("Index", "SchoolCustomData", new
                                 {
                                     urn = Model.Identifier
                                 })">change the data</a> for this school
                    </li>
                </ul>
            }
            else
            {
                @await Html.PartialAsync("Components/ComparatorSetDetails/_DataInformation")
                <p class="govuk-body">
                    You can:
                </p>
                <ul class="govuk-list govuk-list--bullet" data-testid="actions-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state"
                           href="@Url.Action(Model.Type == ComparatorSetType.Workforce ? "Workforce" : "Index", "SchoolComparators", new
                                 {
                                     urn = Model.Identifier
                                 })">view the @(Model.Type == ComparatorSetType.Workforce ? "set" : "2 sets") of similar schools we've chosen</a> to benchmark this school's @(Model.Type == ComparatorSetType.Workforce ? "pupil and workforce data" : "spending") against
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state"
                           href="@Url.Action("Index", "SchoolComparatorsCreate", new
                                 {
                                     urn = Model.Identifier
                                 })">create or save your own set of schools</a> to benchmark against
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state"
                           id="custom-data-link"
                           href="@Url.Action("Index", "SchoolCustomData", new
                                 {
                                     urn = Model.Identifier
                                 })">
                            change the data</a> for this school
                    </li>
                </ul>
            }
        }
    </div>
</div>