@model Web.App.ViewModels.Search.SchoolSearchResultsPageViewModel

<ul class="govuk-list govuk-list--result">
    @foreach (var result in Model.Results)
    {
        <li id="search-result-@result.URN">
            <a href="@Url.Action("Index", "School", new { urn = result.URN })"
               class="govuk-link govuk-link--no-visited-state govuk-heading-s govuk-!-margin-bottom-2">@result.SchoolName</a>
            <ul class="govuk-list">
                @if (!string.IsNullOrWhiteSpace(result.Address))
                {
                    <li class="govuk-!-padding-bottom-1">
                        <span>@result.Address</span>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(result.OverallPhase))
                {
                    <li>
                        <span class="govuk-!-font-weight-bold">Education phase:</span>
                        <span>@(result.OverallPhase)</span>
                    </li>
                }
                @if (result.TotalPupils.GetValueOrDefault() > 0)
                {
                    <li>
                        <span class="govuk-!-font-weight-bold">Number of pupils:</span>
                        <span class="govuk-!-font-tabular-numbers">@(result.TotalPupils)</span>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@await Component.InvokeAsync("Pagination", new
{
    totalResults = Model.TotalResults,
    pageNumber = Model.PageNumber,
    pageSize = Model.PageSize,
    urlBuilder = Model.UrlBuilder
})