@using Web.App.Extensions
@model Web.App.ViewModels.Components.RagStackViewModel
@{
    var id = Model.Identifier.ToSlug();
}
@if (Model.Total <= 0)
{
    <span class="govuk-body-s">Status unavailable</span>
}
else
{
    <svg style="height:@(Model.Height)px;" class="rag-stack" role="img" aria-labelledby="@id-rag">
        <title id="@id-rag">@Model.Red high, @Model.Amber medium and @Model.Green low priorities for @Model.Identifier</title>
        @if (Model.RedPercentage > 0)
        {
            if (!string.IsNullOrWhiteSpace(Model.RedHref))
            {
                @:<a xlink:href="@Model.RedHref" aria-label="@Model.Red high priority" role="link">
            }
            <rect
                role="presentation"
                x="0"
                y="0"
                width="@Model.RedPercentage%"
                height="100%"
                class="rag-stack-red"/>
            if (!string.IsNullOrWhiteSpace(Model.RedHref))
            {
                @:</a>
            }
        }

        @if (Model.AmberPercentage > 0)
        {
            if (!string.IsNullOrWhiteSpace(Model.AmberHref))
            {
                @:<a xlink:href="@Model.AmberHref" aria-label="@Model.Amber medium priority" role="link">
            }
            <rect
                role="presentation"
                x="@Model.RedPercentage%"
                y="0"
                width="@Model.AmberPercentage%"
                height="100%"
                class="rag-stack-amber"/>
            if (!string.IsNullOrWhiteSpace(Model.AmberHref))
            {
                @:</a>
            }
        }

        @if (Model.GreenPercentage > 0)
        {
            if (!string.IsNullOrWhiteSpace(Model.GreenHref))
            {
                @:<a xlink:href="@Model.GreenHref" aria-label="@Model.Green low priority" role="link">
            }
            <rect
                role="presentation"
                x="@(Model.RedPercentage + Model.AmberPercentage)%"
                y="0"
                width="@Model.GreenPercentage%"
                height="100%"
                class="rag-stack-green"/>
            if (!string.IsNullOrWhiteSpace(Model.GreenHref))
            {
                @:</a>
            }
        }
    </svg>
}