@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolWorkforceViewModel

<input type="hidden" name="@Model.FormPrefix@LocalAuthoritySchoolWorkforceFormViewModel.FormFieldNames.Sort"
       value="@Model.Sort"/>
<input type="hidden" name="@Model.FormPrefix@LocalAuthoritySchoolWorkforceFormViewModel.FormFieldNames.Rows"
       value="@(Model.AllRows ? LocalAuthoritySchoolWorkforceFormViewModel.FormFieldValues.All : string.Empty)"/>
@if (Model.FiltersVisible)
{
    <input type="hidden" name="@Model.FormPrefix@LocalAuthoritySchoolWorkforceFormViewModel.FormFieldNames.FiltersVisible"
           value="@LocalAuthoritySchoolWorkforceFormViewModel.FormFieldValues.Show"/>
}
else
{
    @await Html.PartialAsync("Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterHidden", Model)
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        <button type="submit" class="govuk-button govuk-button--secondary" data-testid="toggle-workforce-filters"
                name="@Model.FormPrefix@LocalAuthoritySchoolWorkforceFormViewModel.FormFieldNames.FiltersVisible"
                value="@(Model.FiltersVisible ? LocalAuthoritySchoolWorkforceFormViewModel.FormFieldValues.Hide : LocalAuthoritySchoolWorkforceFormViewModel.FormFieldValues.Show)">
            @(Model.FiltersVisible ? "Hide filters" : "Show filters")
        </button>
    </div>
    @if (Model.FiltersVisible)
    {
        <div class="govuk-grid-column-one-third">
            @await Html.PartialAsync("Components/LocalAuthoritySchoolWorkforce/_SchoolsFilter", Model)
        </div>
    }

    <div class="govuk-grid-column-@(Model.FiltersVisible ? "two-thirds" : "full")">
        @if (Model.Results.Length == 0)
        {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
            <p data-testid="workforce-search-warning" class="govuk-body-s govuk-!-margin-top-6">
                We couldn't find any schools matching your filters.
            </p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-6">
        }
        else
        {
            @await Html.PartialAsync("Components/LocalAuthoritySchoolWorkforce/_SchoolsTable", Model)
            // TODO: show all
        }
    </div>
</div>