@using Web.App.ViewModels
@model Web.App.ViewModels.Components.LocalAuthorityHighNeedsHistoryViewModel
@{
    decimal? previousValue = null;
}

<p class="govuk-body">
    The table shows a historical view of your budget vs spend.
</p>

<table class="govuk-table govuk-table--small">
    <caption class="govuk-table__caption govuk-visually-hidden">Budget vs spend (historical view)</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Year
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">
            Finances
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">
            Balance
        </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var rank in Model.History)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @(rank.Year)
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-!-static-margin-bottom-0">
                    @if (rank.Outturn.HasValue)
                    {
                        <li>
                            <span class="govuk-!-font-weight-bold">Spend:</span>
                            <span class="govuk-!-font-tabular-numbers">@(rank.Outturn?.ToString("C0"))</span>
                        </li>
                    }
                    @if (rank.Budget.HasValue)
                    {
                        <li>
                            <span class="govuk-!-font-weight-bold">Budget:</span>
                            <span class="govuk-!-font-tabular-numbers">@(rank.Budget?.ToString("C0"))</span>
                        </li>
                    }
                </ul>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--nowrap">
                @await Html.PartialAsync("_TrendIndicator", new TrendIndicatorViewModel
                {
                    PreviousValue = previousValue,
                    CurrentValue = rank.Balance
                })
                @(rank.Balance?.ToString("C0"))
            </td>
        </tr>

        previousValue = rank.Balance;
    }
    </tbody>
</table>

<a
    href="@Url.Action("Index", "LocalAuthorityHighNeedsHistoricData", new { code = Model.Code })"
    role="button"
    class="govuk-button govuk-button--secondary"
    data-module="govuk-button">View full historic data</a>