@model EducationBenchmarking.Web.ViewModels.TrackedAnchorViewModel

<a data-id="@Model.EventId"
   href="@Model.Href"
   class="@Model.Classes"
   target="@Model.Target"
   rel="@Model.Rel">
    @Model.Content
    @if(!string.IsNullOrEmpty(Model.HiddenContent))
    {
        <span class="govuk-visually-hidden">@Model.HiddenContent</span>
    }
</a>