@using Web.App.Domain
@using Web.App.Extensions
@model Web.App.ViewModels.UserDefinedCharacteristicViewModel
@{
    var value = ViewData.ModelState.GetAttemptedValueOrDefault(nameof(Model.LaSelection), Model.LaSelection);
    var hasError = ViewData.ModelState.HasError(nameof(Model.LaSelection));
    var laName = ViewData["LAName"] as string;
    var chosenLaName = ViewData.ModelState.GetAttemptedValueOrDefault(nameof(Model.LaInput), string.Empty);
    var chosenLaCode = ViewData.ModelState.GetAttemptedValueOrDefault(nameof(Model.Code), string.Empty);
    var hasChosenError = ViewData.ModelState.HasError(nameof(Model.LaInput)) || ViewData.ModelState.HasError(nameof(Model.Code));
}

<div class="govuk-form-group @(hasError ? "govuk-form-group--error" : string.Empty)">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">
                Local authorities
            </h3>
        </legend>
        @if (hasError)
        {
            <p id="@nameof(Model.LaSelection)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.LaSelection)]?.Errors.First().ErrorMessage
            </p>
        }
        <div class="govuk-radios" data-module="govuk-radios" id="@nameof(Model.LaSelection)">
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.LaSelection)" id="@nameof(Model.LaSelection)-All" value="All" class="govuk-radios__input" @(value == "All" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.LaSelection)-All">All local authorities</label>
            </div>
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.LaSelection)" id="@nameof(Model.LaSelection)-This" value="This" class="govuk-radios__input" @(value == "This" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.LaSelection)-This">This school's local authority only</label>
                <div id="@nameof(Model.LaSelection)-This-item-hint" class="govuk-hint govuk-radios__hint">
                    @if (!string.IsNullOrWhiteSpace(laName))
                    {
                        @:(@laName)
                    }
                </div>
            </div>
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.LaSelection)" id="@nameof(Model.LaSelection)-Choose" value="Choose" class="govuk-radios__input" @(value == "Choose" ? "checked" : "") data-aria-controls="conditional-@nameof(Model.LaSelection)-Choose">
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.LaSelection)-Choose">Choose a local authority or authorities</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@nameof(Model.LaSelection)-Choose">
                <div class="govuk-form-group @(hasChosenError ? "govuk-form-group--error" : string.Empty)" id="@nameof(Model.Code)">
                    <label class="govuk-label" for="la-suggester">
                        Enter a local authority name or a three-digit LA code
                    </label>
                    @if (hasChosenError)
                    {
                        <p id="@nameof(Model.Code)-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @(ViewData.ModelState[nameof(Model.LaInput)]?.Errors.FirstOrDefault()?.ErrorMessage ?? ViewData.ModelState[nameof(Model.Code)]?.Errors.First().ErrorMessage)
                        </p>
                    }
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">
                            <div id="la-suggester" data-input="@chosenLaName" data-code="@chosenLaCode" data-exclude="@(string.Join(",", Model.LaNames))"></div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="action" value="@FormAction.Add">
                                Add another
                            </button>
                        </div>
                        @if (Model.LaNames.Length > 0)
                        {
                            <div class="govuk-grid-column-three-quarters">
                                <table class="govuk-table govuk-!-margin-bottom-0">
                                    <thead class="govuk-table__head">
                                    <tr class="govuk-table__row govuk-visually-hidden">
                                        <th scope="col" class="govuk-table__header">Local authority</th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                    @foreach (var name in Model.LaNames)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-!-padding-top-4">
                                                <input type="hidden" name="@nameof(Model.LaNames)" value="@name"/>
                                                @name
                                            </td>
                                            <td class="govuk-table__cell">
                                                <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" name="action" value="@FormAction.Remove-@name">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>