@using Web.App.Extensions
@model Web.App.ViewModels.UserDefinedCharacteristicViewModel
@{
    var value = ViewData.ModelState.GetAttemptedValueOrDefault(nameof(Model.FinanceType), Model.FinanceType);
    var hasError = ViewData.ModelState.HasError(nameof(Model.FinanceType));
}

<div class="govuk-form-group @(hasError ? "govuk-form-group--error" : string.Empty)">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">
                School types
            </h3>
        </legend>
        @if (hasError)
        {
            <p id="@nameof(Model.FinanceType)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.FinanceType)]?.Errors.First().ErrorMessage
            </p>
        }
        <div class="govuk-radios" data-module="govuk-radios" id="@nameof(Model.FinanceType)">
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.FinanceType)" id="@nameof(Model.FinanceType)-Maintained" value="Maintained" class="govuk-radios__input" @(value == "Maintained" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.FinanceType)-Maintained">Maintained schools</label>
            </div>
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.FinanceType)" id="@nameof(Model.FinanceType)-Academies" value="Academy" class="govuk-radios__input" @(value == "Academy" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.FinanceType)-Academies">Academies</label>
            </div>
            <div class="govuk-radios__item">
                <input type="radio" name="@nameof(Model.FinanceType)" id="@nameof(Model.FinanceType)-Both" value="Both" class="govuk-radios__input" @(value == "Both" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@nameof(Model.FinanceType)-Both">Both</label>
            </div>
        </div>
    </fieldset>
</div>