@using Web.App.Extensions
@model Web.App.ViewModels.SchoolComparatorsPreviewViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolComparatorsPreview;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Urn,
    kind = OrganisationTypes.School
})

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            @if (Model.TotalSchools > Model.Characteristics?.Length)
            {
                @:We matched 
                @Model.TotalSchools
                @:schools, but these
            }
            else
            {
                @:These
            }

            are the @Model.ClosestSchools closest matches to
            @Model.Name using the characteristics you selected.
        </p>

        @if (Model.AnyUniqueGroupings)
        {
            <p class="govuk-body">
                They are all:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                @if (Model.AllAcademies == true)
                {
                    <li>academies</li>
                }
                @if (Model.AllMaintained == true)
                {
                    <li>maintained schools</li>
                }
                @if (Model.AllNursery == true)
                {
                    <li>nurseries</li>
                }
                @if (Model.AllPrimary == true)
                {
                    <li>primary schools</li>
                }
                @if (Model.AllSecondary == true)
                {
                    <li>secondary schools</li>
                }
                @if (Model.AllPupilReferralUnit == true)
                {
                    <li>pupil referral units or alternative provision schools</li>
                }
                @if (Model.AllSpecial == true)
                {
                    <li>special schools</li>
                }
                @if (!string.IsNullOrWhiteSpace(Model.AllInLaName))
                {
                    <li>schools in the @Model.AllInLaName local authority area</li>
                }
                @if (Model.AllPfi == true)
                {
                    <li>part of a private finance initiative</li>
                }
            </ul>
        }

        <p class="govuk-body">
            <a href="@Url.Action("Characteristic", new { urn = Model.Urn })" class="govuk-link govuk-link--no-visited-state">
                Change characteristics and create a new set
            </a>
        </p>

        @if (Model.Characteristics != null)
        {
            <a href="@Url.Action("Submit", new { urn = Model.Urn })" role="button" draggable="false" class="govuk-button" data-module="govuk-button" id="create-set">
                Create a set using these schools
            </a>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">School</th>
                    <th scope="col" class="govuk-table__header" colspan="2">Individual characteristics</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                @foreach (var characteristic in Model.Characteristics)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span class="govuk-body govuk-!-font-weight-bold">@characteristic.SchoolName</span><br>
                            <span class="govuk-hint">@characteristic.Address</span>
                        </td>
                        <td class="govuk-table__cell">
                            @if (Model.HasAdditionalCharacteristics == true)
                            {
                                @if (Model.TotalPupilsSelected)
                                {
                                    <p class="govuk-body">Number of pupils</p>
                                }
                                @if (Model.FreeSchoolMealsSelected)
                                {
                                    <p class="govuk-body">Eligibility for free school meals (FSM)</p>
                                }
                                @if (Model.SpecialEducationalNeedsSelected)
                                {
                                    <p class="govuk-body">Pupils with special educational needs (SEN)</p>
                                }
                                @if (Model.LondonWeightingSelected)
                                {
                                    <p class="govuk-body">London weighting</p>
                                }
                                @if (Model.AverageBuildingAgeSelected)
                                {
                                    <p class="govuk-body">Average building age</p>
                                }
                                @if (Model.InternalFloorAreaSelected)
                                {
                                    <p class="govuk-body">Gross internal floor area</p>
                                }
                                @if (Model.OfstedRatingSelected)
                                {
                                    <p class="govuk-body">Ofsted rating</p>
                                }
                                @if (Model.SchoolsInTrustSelected)
                                {
                                    <p class="govuk-body">Number of schools within trust</p>
                                }
                                @if (Model.DeficitSelected)
                                {
                                    <p class="govuk-body">Financial position</p>
                                }
                                @if (Model.PrivateFinanceInitiativeSelected)
                                {
                                    <p class="govuk-body">Part of a private finance initiative</p>
                                }
                                @if (Model.TotalPupilsSixthFormSelected)
                                {
                                    <p class="govuk-body">Number of pupils in sixth form</p>
                                }
                                @if (Model.KeyStage2ProgressSelected)
                                {
                                    <p class="govuk-body">Key stage 2 progress</p>
                                }
                                @if (Model.KeyStage4ProgressSelected)
                                {
                                    <p class="govuk-body">Key stage 4 progress</p>
                                }
                                @if (Model.SpecificLearningDifficultySelected)
                                {
                                    <p class="govuk-body">Specific learning difficulty</p>
                                }
                                @if (Model.ModerateLearningDifficultySelected)
                                {
                                    <p class="govuk-body">Moderate learning difficulty</p>
                                }
                                @if (Model.SevereLearningDifficultySelected)
                                {
                                    <p class="govuk-body">Severe learning difficulty</p>
                                }
                                @if (Model.ProfoundMultipleLearningDifficultySelected)
                                {
                                    <p class="govuk-body">Profound and multiple learning difficulty</p>
                                }
                                @if (Model.SocialEmotionalMentalHealthSelected)
                                {
                                    <p class="govuk-body">Social, emotional and mental health</p>
                                }
                                @if (Model.SpeechLanguageCommunicationSelected)
                                {
                                    <p class="govuk-body">Speech, language and communications needs</p>
                                }
                                @if (Model.HearingImpairmentSelected)
                                {
                                    <p class="govuk-body">Hearing impairment</p>
                                }
                                @if (Model.VisualImpairmentSelected)
                                {
                                    <p class="govuk-body">Visual impairment</p>
                                }
                                @if (Model.MultiSensoryImpairmentSelected)
                                {
                                    <p class="govuk-body">Multi-sensory impairment</p>
                                }
                                @if (Model.PhysicalDisabilitySelected)
                                {
                                    <p class="govuk-body">Physical disability</p>
                                }
                                @if (Model.AutisticSpectrumDisorderSelected)
                                {
                                    <p class="govuk-body">Autistic spectrum disorder</p>
                                }
                                @if (Model.OtherLearningDifficultySelected)
                                {
                                    <p class="govuk-body">Other learning difficulty</p>
                                }
                            }
                            else
                            {
                                <p class="govuk-body">Number of pupils</p>
                                <p class="govuk-body">Eligibility for free school meals (FSM)</p>
                                <p class="govuk-body">Pupils with special educational needs (SEN)</p>
                            }
                        </td>
                        <td class="govuk-table__cell">
                            @if (Model.HasAdditionalCharacteristics == true)
                            {
                                @if (Model.TotalPupilsSelected)
                                {
                                    <p class="govuk-body">@characteristic.TotalPupils.GetValueOrDefault().ToNumberSeparator()</p>
                                }
                                @if (Model.FreeSchoolMealsSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentFreeSchoolMeals.ToPercent()</p>
                                }
                                @if (Model.SpecialEducationalNeedsSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentSpecialEducationNeeds.ToPercent()</p>
                                }
                                @if (Model.LondonWeightingSelected)
                                {
                                    <p class="govuk-body">@characteristic.LondonWeighting</p>
                                }
                                @if (Model.AverageBuildingAgeSelected)
                                {
                                    <p class="govuk-body">@(DateTime.Now.Year - characteristic.BuildingAverageAge).GetValueOrDefault().ToNumberSeparator()</p>
                                }
                                @if (Model.InternalFloorAreaSelected)
                                {
                                    <p class="govuk-body">@characteristic.TotalInternalFloorArea.GetValueOrDefault().ToNumberSeparator()</p>
                                }
                                @if (Model.OfstedRatingSelected)
                                {
                                    <p class="govuk-body">@characteristic.OfstedDescription</p>
                                }
                                @if (Model.SchoolsInTrustSelected)
                                {
                                    <p class="govuk-body">@characteristic.SchoolsInTrust.GetValueOrDefault()</p>
                                }
                                @if (Model.DeficitSelected)
                                {
                                    <p class="govuk-body">@characteristic.SchoolPosition</p>
                                }
                                @if (Model.PrivateFinanceInitiativeSelected)
                                {
                                    <p class="govuk-body">@characteristic.IsPFISchool.GetValueOrDefault()</p>
                                }
                                @if (Model.TotalPupilsSixthFormSelected)
                                {
                                    <p class="govuk-body">@characteristic.TotalPupilsSixthForm.GetValueOrDefault().ToNumberSeparator()</p>
                                }
                                @if (Model.KeyStage2ProgressSelected)
                                {
                                    <p class="govuk-body">@characteristic.KS2Progress.GetValueOrDefault().ToSimpleDisplay()</p>
                                }
                                @if (Model.KeyStage4ProgressSelected)
                                {
                                    <p class="govuk-body">@characteristic.KS4Progress.GetValueOrDefault().ToSimpleDisplay()</p>
                                }
                                @if (Model.SpecificLearningDifficultySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithSPLD.ToPercent()</p>
                                }
                                @if (Model.ModerateLearningDifficultySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithMLD.ToPercent()</p>
                                }
                                @if (Model.SevereLearningDifficultySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithSLD.ToPercent()</p>
                                }
                                @if (Model.ProfoundMultipleLearningDifficultySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithMLD.ToPercent()</p>
                                }
                                @if (Model.SocialEmotionalMentalHealthSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithSEMH.ToPercent()</p>
                                }
                                @if (Model.SpeechLanguageCommunicationSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithSLD.ToPercent()</p>
                                }
                                @if (Model.HearingImpairmentSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithHI.ToPercent()</p>
                                }
                                @if (Model.VisualImpairmentSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithVI.ToPercent()</p>
                                }
                                @if (Model.MultiSensoryImpairmentSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithMSI.ToPercent()</p>
                                }
                                @if (Model.PhysicalDisabilitySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithPD.ToPercent()</p>
                                }
                                @if (Model.AutisticSpectrumDisorderSelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithASD.ToPercent()</p>
                                }
                                @if (Model.OtherLearningDifficultySelected)
                                {
                                    <p class="govuk-body">@characteristic.PercentWithOTH.ToPercent()</p>
                                }
                            }
                            else
                            {
                                <p class="govuk-body">@characteristic.TotalPupils.GetValueOrDefault().ToNumberSeparator()</p>
                                <p class="govuk-body">@characteristic.PercentFreeSchoolMeals.ToPercent()</p>
                                <p class="govuk-body">@characteristic.PercentSpecialEducationNeeds.ToPercent()</p>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <a href="@Url.Action("Submit", new { urn = Model.Urn })" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Create a set using these schools
            </a>
        }
    </div>
</div>