@model Web.App.ViewModels.LocalAuthorityViewModel
<div class="govuk-grid-row" id="high-needs">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">High needs</h2>
    </div>
</div>

<div class="govuk-grid-row" id="data-details">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Understand the data we use for high needs
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                This data covers the period @(Model.HeadlineStatistics.S251Year - 1)-@Model.HeadlineStatistics.S251Year for section 251 data (s251).
                </p>
                <p class="govuk-body">
                The outturn includes place funding for pupils with special educational needs taught in academies. You can read about how we calculate this in the <a href="@Url.Action("HighNeedsGlossary", "StaticContent")" class="govuk-link govuk-link--no-visited-state">glossary</a>.
                </p>
            </div>
        </details>
    </div>
</div>

@await Html.PartialAsync("_HeadlineStatistics", Model.HeadlineStatistics)

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row" id="high-needs-links">
    <div class="govuk-grid-column-full">
        <ul class="app-links">
            <feature negate="true" name="@FeatureFlags.HighNeedsBenchmarking">
                <li>
                    <h3 class="govuk-heading-s">
                        <a href="@Url.Action("Index", "LocalAuthorityComparators", new
                                 {
                                     code = Model.Code
                                 })" class="govuk-link govuk-link--no-visited-state">
                            Benchmark high needs
                        </a>
                    </h3>
                    <p class="govuk-body">
                        Benchmark spending against statistical neighbours or other local authorities of your choice.
                    </p>
                </li>
            </feature>
            <feature name="@FeatureFlags.HighNeedsBenchmarking">
                <li>
                    <h3 class="govuk-heading-s">
                        <a href="@Url.Action("Index", "LocalAuthorityHighNeedsSpending", new { code = Model.Code })" class="govuk-link govuk-link--no-visited-state">
                            Benchmark high needs spending
                        </a>
                    </h3>
                    <p class="govuk-body">
                        Benchmark outturn and planned expenditure on high needs with other local authorities.
                    </p>
                </li>
                <li>
                    <h3 class="govuk-heading-s">
                        <a href="@Url.Action("Index", "LocalAuthorityEducationHealthCarePlans", new { code = Model.Code })" class="govuk-link govuk-link--no-visited-state">
                            Benchmark education, health and care plans
                        </a>
                    </h3>
                    <p class="govuk-body">
                        Compare placement of pupils with EHC plans with other local authorities.
                    </p>
                </li>
            </feature>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="@Url.Action("Index", "LocalAuthorityHighNeedsHistoricData", new
                             {
                                 code = Model.Code
                             })" class="govuk-link govuk-link--no-visited-state">
                        View high needs historical data
                    </a>
                </h3>
                <p class="govuk-body">
                    View data from previous financial years for this local authority.
                </p>
            </li>
        </ul>
    </div>
</div>
