@using Web.App.Domain
@using Web.App.Extensions
@using Web.App.ViewModels
@model Web.App.ViewModels.Components.LocalAuthorityComparatorsViewModel
@{
    var hasLaInputError = ViewData.ModelState.HasError(nameof(LocalAuthorityComparatorViewModel.LaInput));
}

<div class="select-row govuk-!-margin-bottom-0">
    <div class="select-column-two-thirds">
        <div
            class="govuk-form-group govuk-!-width-full@(hasLaInputError ? " govuk-form-group--error" : string.Empty)">
            <label class="govuk-label govuk-visually-hidden"
                   for="@nameof(LocalAuthorityComparatorViewModel.LaInput)">
                Local authority
            </label>
            @if (hasLaInputError)
            {
                <p id="@nameof(LocalAuthorityComparatorViewModel.LaInput)-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @ViewData.ModelState[nameof(LocalAuthorityComparatorViewModel.LaInput)]?.Errors.First().ErrorMessage
                </p>
            }
            <select
                class="govuk-select govuk-!-width-full@(hasLaInputError ? " govuk-select--error" : string.Empty)"
                id="@nameof(LocalAuthorityComparatorViewModel.LaInput)"
                name="@nameof(LocalAuthorityComparatorViewModel.LaInput)">
                <option value="">Choose local authority</option>
                @foreach (var localAuthority in Model.AvailableLocalAuthorities)
                {
                    <option value="@localAuthority.Code">@localAuthority.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="select-column-one-third select-column-action-button">
        <button
            type="submit"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            name="action" value="@FormAction.Add">
            Add
        </button>
    </div>
</div>

<div class="govuk-button-group">
    <button 
        type="submit" 
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        name="action"
        value="@FormAction.Reset">
        Reset to statistical neighbours
    </button>
    @if (Model.SelectedNeighbours.Any() || Model.SelectedOthers.Any())
    {
        <button 
            type="submit" 
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            name="action"
            value="@FormAction.Clear">
            Remove all local authorities
        </button>
    }
</div>

<h3 class="govuk-heading-m">
    Local authorities you are comparing with
</h3>

@if (Model.SelectedNeighbours.Any())
{
    <h4 class="govuk-heading-s">
        Statistical neighbours
    </h4>
    
    @await Html.PartialAsync("_RemovableItemCardGrid", 
        new RemovableItemCardGridViewModel {
            Cards = Model.SelectedNeighbours, 
            InputName = nameof(LocalAuthorityComparatorViewModel.Selected),
            Id = "current-comparators-neighbours"
        })
}
else if (Model.SelectedOthers.Any())
{
    <h4 class="govuk-heading-s">
        Statistical neighbours
    </h4>
    
    <p class="govuk-body">
        No statistical neighbours local authorities have been added.
    </p>
}
else
{
    <p class="govuk-body">
        No local authorities have been added. Click "reset to statistical neighbours" above to add statistical neighbours for this local authority.
    </p>
}

@if (Model.SelectedOthers.Any())
{
    <h4 class="govuk-heading-s">
        Other local authorities
    </h4>
    
    @await Html.PartialAsync("_RemovableItemCardGrid", 
        new RemovableItemCardGridViewModel {
            Cards = Model.SelectedOthers, 
            InputName = nameof(LocalAuthorityComparatorViewModel.Selected),
            Id = "current-comparators-others"
        })
}


