@using Web.App.Domain.Charts
@using Web.App.Extensions
@using Web.App.ViewModels
@using Web.App.ViewModels.Enhancements
@model Web.App.ViewModels.LocalAuthorityHighNeedsSpendingViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsSpending;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "LocalAuthorityComparators", new
                     {
                         code = Model.Code,
                         type = LocalAuthorityBenchmarkType.HighNeedsSpending,
                         referrer = Referrers.BenchmarkHighNeedsSpending
                     })" class="govuk-link govuk-link--no-visited-state">Change local authorities to benchmark against</a>
        </p>
    </div>
</div>

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.LocalAuthority,
    sourceType = DataSourceTypes.LocalAuthorityHighNeedsSpending,
    className = "govuk-grid-column-two-thirds"
})

@await Html.PartialAsync("_UnderstandTheDataWeUse")
@await Html.PartialAsync("_HowDataIsPresented")

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("_Filter", Model)
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="page-actions-wrapper-horizontal">
            <div class="page-actions">
                @if (Model.ViewAs == Views.ViewAsOptions.Chart)
                {
                    <div id="page-actions-button"></div>
                }
                <a href="@Url.Action("Download", "LocalAuthorityHighNeedsSpending", new
                         {
                             code = Model.Code,
                             resultAs = Model.ResultAs,
                             type = Model.Type
                         })" role="button"
                   class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Download page data
                </a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        @using (Html.BeginForm(FormMethod.Post, true, new
            {
                @class = "options-form",
                novalidate = "novalidate",
                role = "search"
            }))
        {
            <div class="options-form__view-as">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold">
                        View as
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios"
                         id="@nameof(LocalAuthorityHighNeedsSpendingViewModel.ViewAs)">
                        @foreach (var view in Views.All)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       id="view-@view"
                                       name="@nameof(LocalAuthorityHighNeedsSpendingViewModel.ViewAs)" type="radio"
                                       value="@((int)view)"
                                       @(Model.ViewAs == view ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label"
                                       for="view-@view">
                                    @view.GetDescription()
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <div class="options-form__compare-by">
                <label class="govuk-label govuk-!-font-weight-bold" for="@nameof(LocalAuthorityHighNeedsSpendingViewModel.ResultAs)">
                    Compare by
                </label>
                <select class="govuk-select" id="@nameof(LocalAuthorityHighNeedsSpendingViewModel.ResultAs)" name="@nameof(LocalAuthorityHighNeedsSpendingViewModel.ResultAs)">
                    @foreach (var option in HighNeedsDimensions.AllResultsAsOptions)
                    {
                        <option
                            value="@((int)option)"
                            selected="@(Model.ResultAs == option ? "selected" : null)">
                            @option.GetResultAsDescription()
                        </option>
                    }
                </select>
            </div>

            <div class="options-form__apply">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Apply
                </button>
            </div>
        }
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        @foreach (var group in Model.Groups.Where(group => group.Items.Any()))
        {
            <section id="highneeds-subcategory-@group.Group.ToSlug()">
                <h2 class="govuk-heading-m">@group.Group</h2>

                @foreach (var subCategory in group.Items)
                {
                    <section id="highneeds-subcategory-@subCategory.SubCategory?.ToSlug()"
                             class="govuk-!-margin-bottom-4">

                        <h3 class="govuk-heading-s">@subCategory.SubCategory</h3>

                        @if (Model.ViewAs == Views.ViewAsOptions.Chart)
                        {
                            @await Html.PartialAsync("_HighNeedsSpendingChart", new LocalAuthorityHighNeedsSpendingDataViewModel(subCategory, Model.ResultAs, Model.Type, Model.Code!))
                        }
                        else
                        {
                            @await Html.PartialAsync("_HighNeedsSpendingTable", new LocalAuthorityHighNeedsSpendingDataViewModel(subCategory, Model.ResultAs, Model.Type, Model.Code!))
                        }
                    </section>
                }
            </section>
        }
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Component.InvokeAsync("LocalAuthorityHighNeedsHelp")

@section scripts
{

    @await Html.PartialAsync("Enhancements/_PageActions", new PageActionsViewModel
    {
        All = true,
        ElementId = "page-actions-button",
        SaveClassName = "costs-chart-container",
        SaveFileName = $"benchmark-high-needs-spending-{Model.Code}.zip",
        SaveTitleAttr = "data-title",
        StartImmediately = true
    })
}