@model Web.App.ViewModels.Components.DataSourceInsetViewModel

@if (Model.DataSource.Length == 0 && Model.AdditionText.Length == 0 && !Model.ShowKs4Progress)
{
    return;
}

<div class="govuk-grid-row" data-test-id="data-source-wrapper">
    <div class="govuk-grid-column-two-thirds">
        @foreach (var text in Model.AdditionText)
        {
            <p class="govuk-body">@text</p>
        }
        @if (Model.DataSource.Length > 0 || Model.ShowKs4Progress)
        {
            <div class="govuk-inset-text govuk-!-margin-top-2">
                @foreach (var dataSource in Model.DataSource)
                {
                    <p class="govuk-body">@dataSource</p>
                }
                @if (Model.ShowKs4Progress)
                {
                    <p class="govuk-body">
                        Progress 8 data uses the latest data available from the academic year @(Model.Ks4ProgressYear - 1) to @Model.Ks4ProgressYear and is taken from
                        <a class="govuk-link govuk-link--no-visited-state" href="@Model.CompareSchoolPerformanceUrl">Compare school and college performance in England</a>
                    </p>
                }
            </div>
        }
    </div>
</div>