@using Web.App.Extensions
@using Web.App.ViewModels
@model Web.App.ViewModels.FindOrganisationViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.FindOrganisation;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.PartialAsync("_ErrorSummary")
        @using (Html.BeginForm("Index", "FindOrganisation", new {}, FormMethod.Post, true, new { novalidate = "novalidate", role = "search" }))
        {
            var hasError = ViewData.ModelState.HasError(nameof(FindOrganisationSelectViewModel.FindMethod));
            <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : string.Empty)">
                <fieldset class="govuk-fieldset"
                          @(hasError ? $"aria-describedby=\"{nameof(FindOrganisationSelectViewModel.FindMethod)}-error\"" : string.Empty)>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What are you looking for?
                        </h1>
                    </legend>
                    @if (hasError)
                    {
                        <p id="@nameof(FindOrganisationSelectViewModel.FindMethod)-error"
                           class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @ViewData.ModelState[nameof(FindOrganisationSelectViewModel.FindMethod)]?.Errors.Select(e => e.ErrorMessage).FirstOrDefault()
                        </p>
                    }
                    <div class="govuk-radios" data-module="govuk-radios"
                         id="@nameof(FindOrganisationSelectViewModel.FindMethod)">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="school"
                                   name="@nameof(FindOrganisationSelectViewModel.FindMethod)" type="radio"
                                   value="@OrganisationTypes.School">
                            <label class="govuk-label govuk-radios__label" for="school">
                                School or academy
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="trust"
                                   name="@nameof(FindOrganisationSelectViewModel.FindMethod)" type="radio"
                                   value="@OrganisationTypes.Trust">
                            <label class="govuk-label govuk-radios__label" for="trust">
                                Trust
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="local-authority"
                                   name="@nameof(FindOrganisationSelectViewModel.FindMethod)" type="radio"
                                   value="@OrganisationTypes.LocalAuthority">
                            <label class="govuk-label govuk-radios__label" for="local-authority">
                                Local authority
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>