@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.App.Domain
@using Web.App.ViewModels
@model Web.App.ViewModels.LocalAuthorityHighNeedsStartBenchmarkingViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsStartBenchmarking;
    var referrer = Url.Action(
        "Index",
        Model.Referrer == "benchmarking" ? "LocalAuthorityHighNeedsBenchmarking" : "LocalAuthorityHighNeeds",
        new { Model.Code });
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Html.PartialAsync("_ErrorSummary")

@if (Model.StatisticalNeighbours.Any())
{
    <p class="govuk-body">
        Add your statistical neighbours or any other local authority below.
    </p>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Find out your 10 closest statistical neighbours
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body govuk-!-font-weight-bold">
                These local authorities are your ten closest statistical neighbours which are deemed to have similar
                characteristics:
            </p>
            <ol class="govuk-list govuk-list--number govuk-!-padding-left-6">
                @foreach (var neighbour in Model.StatisticalNeighbours)
                {
                    <li>@neighbour</li>
                }
            </ol>
            <p class="govuk-body">
                Statistical neighbours provide suggestions for local authorities to compare against.
                For each local authority, 10 local authorities are listed which are deemed to have
                similar characteristics. These designated local authorities are known as statistical
                neighbours and are listed in order from the statistically closest (top) to least close
                (bottom).
            </p>
            <p class="govuk-body">
                The National Foundation for Educational Research (NFER) was commissioned in
                2007 by the Department for Education (DfE) to identify and group similar local
                authorities in terms of the socio-economic characteristic.
            </p>
        </div>
    </details>
}

<h2 class="govuk-heading-m">
    Add local authorities
</h2>

<form action="@Url.Action("Comparators", "LocalAuthorityHighNeedsBenchmarking", new { Model.Code })" method="post">
    @if (!string.IsNullOrWhiteSpace(Model.Referrer))
    {
        <input name="@nameof(LocalAuthorityHighNeedsBenchmarkingViewModel.Referrer)" value="@Model.Referrer"
               type="hidden"/>
    }
    
    @await Component.InvokeAsync("LocalAuthorityComparators", new
    {
        Model.Code,
        Model.Comparators
    })

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" name="action"
                value="@FormAction.Continue">
            Save and continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="@referrer">
            Cancel
        </a>
    </div>
</form>

@section scripts
{
    <script src="/js/accessible-autocomplete.min.js"></script>
    <script type="module" add-nonce="true">
        const element = document.getElementById("@nameof(LocalAuthorityComparatorViewModel.LaInput)");
        if (element) {
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: element,
                defaultValue: "",
                autoselect: true,
                displayMenu: "overlay",
                minLength: 3,
                showAllValues: false,
                showNoOptionsFound: false
            });
        }
    </script>
}