@using Web.App.Domain
@using Web.App.ViewModels
@model Web.App.ViewModels.LocalAuthorityHighNeedsStartBenchmarkingViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsStartBenchmarking;
    var referrer = Url.Action(
        "Index",
        Model.Referrer == "benchmarking" ? "LocalAuthorityHighNeedsBenchmarking" : "LocalAuthority",
        new { Model.Code });
}

<p class="govuk-body">
    <a class="govuk-back-link" href="@referrer">Back</a>
</p>

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Html.PartialAsync("_ErrorSummary")

@if (Model.StatisticalNeighbours.Any())
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">You can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>use the statistical neighbours we have selected for you</li>
                <li>add or remove other local authorities</li>
            </ul>
        </div>
        
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Understand statistical neighbours
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">
                        Statistical neighbours are authorities with similar characteristics. We
                        use the 10 neighbours identified by the Department for Education’s
                        Local Authority Interactive Tool (LAIT).
                    </p>
                    <p class="govuk-body">
                        <a href="https://www.gov.uk/government/publications/local-authority-interactive-tool-lait">
                            Read more about LAIT statistical neighbours
                        </a>
                    </p>
                </div>
            </details>
        </div>
    </div>
}

<form action="@Url.Action("Comparators", "LocalAuthorityHighNeedsBenchmarking", new { Model.Code })" method="post">

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" name="action"
                value="@FormAction.Continue">
            Benchmark high needs spending
        </button>
    </div>

    <h2 class="govuk-heading-m">
        Add a local authority
    </h2>

    <p class="govuk-body">
        You can compare up to 20 local authorities at a time.
    </p>

    @if (!string.IsNullOrWhiteSpace(Model.Referrer))
    {
        <input name="@nameof(LocalAuthorityHighNeedsStartBenchmarkingViewModel.Referrer)" value="@Model.Referrer"
               type="hidden"/>
    }
    
    @await Component.InvokeAsync("LocalAuthorityComparators", new
    {
        Model.Code,
        Model.Comparators,
        Model.NeighbourComparators,
        Model.OtherComparators
    })

</form>

@section scripts
{
    <script src="/js/accessible-autocomplete.min.js"></script>
    <script type="module" add-nonce="true">
        const element = document.getElementById("@nameof(LocalAuthorityComparatorViewModel.LaInput)");
        if (element) {
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: element,
                defaultValue: "",
                autoselect: true,
                displayMenu: "overlay",
                minLength: 3,
                showAllValues: false,
                showNoOptionsFound: false
            });
        }
    </script>
}