@model EducationBenchmarking.Web.ViewModels.FindOrganisationViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find an educational organisation</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div id="find-organisation-view"
             data-find-method="@Model.FindMethod"
             data-urn="@Model.Urn"
             data-company-number="@Model.CompanyNumber"
             data-school-input="@Model.SchoolInput"
             data-school-error="@ViewData.ModelState["school-input"]?.Errors.FirstOrDefault()?.ErrorMessage"
             data-trust-input="@Model.TrustInput"
             data-trust-error="@ViewData.ModelState["trust-input"]?.Errors.FirstOrDefault()?.ErrorMessage">
        </div>
    </div>
</div>