@using EducationBenchmarking.Web.ViewModels.Components
@model EducationBenchmarking.Web.ViewModels.SchoolViewModel
@{
    ViewData[ViewDataConstants.Title] = PageTitleConstants.SchoolHome;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "FindOrganisation")" class="govuk-link govuk-link--no-visited-state">Change school</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            You can use this service to understand the finances of your chosen school, academy trust or local authority.
            You can find areas for further investigation and relevant guidance and resources.
        </p>
        @if (Model.IsPartOfTrust)
        {
            <h2 class="govuk-heading-m">
                <span>Part of </span><a href="@Url.Action("Index", "Trust", new { companyNumber = Model.TrustIdentifier })" class="govuk-link govuk-link--no-visited-state">@Model.TrustName</a>
            </h2>
        }
        <p class="govuk-body">
            <a href="@Constants.GiasSchoolUrl(Model.Urn)" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">
                Get more information about this school (opens in new tab)
            </a>
        </p>
    </div>
</div>

@await Component.InvokeAsync("FinanceTools", new {identifier = Model.Urn, tools = new [] { FinanceTools.CompareYourCosts, FinanceTools.AreasOfInvestigation, FinanceTools.FinancialPlanning, FinanceTools.BenchmarkWorkforce}})


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Resources</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("FindCommercialResources")</li>
            <li>@await Component.InvokeAsync("HistoricData", Model.Urn)</li>
            <li>@await Component.InvokeAsync("SchoolDetails", Model.Urn)</li>
        </ul>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">How we can help</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("HelpWithThisService")</li>
            <li>@await Component.InvokeAsync("AskForHelpFromAnSrma")</li>
            <li>@await Component.InvokeAsync("SubmitAnEnquiry")</li>
        </ul>
    </div>
</div>