@model EducationBenchmarking.Web.ViewModels.SchoolViewModel
@{
    ViewBag.Title = PageTitles.SchoolHome;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Constants.ServiceName</h1>
        <p class="govuk-body">
            You can use this service to understand the finances of your chosen school, academy trust or local authority.
            You can find areas for further investigation and relevant guidance and resources.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            @Model.Name
        </h2>
        @if (Model.IsPartOfTrust)
        {
            <h3 class="govuk-heading-m">
                <span>Part of</span>
                <a href="@Url.Action("Index", "Trust", new { companyNumber = Model.TrustIdentifier })" class="govuk-link govuk-link--no-visited-state">@Model.TrustName</a>
            </h3>
        }
        <p class="govuk-body">
            <a href="@Constants.GiasSchoolUrl(Model.Urn)" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">
                Get more information about this school (opens in new tab)
            </a>
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "FindOrganisation")" class="govuk-link govuk-link--no-visited-state" id="change-school">Change school</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Areas for investigation</h2>
        <p class="govuk-body">
            This following cost categories have the widest variation for costs when compared to similar schools.
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    </div>
    <div class="govuk-grid-column-one-third">

    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">RAG status for data submitted @Model.LastFinancialYear</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Red areas
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    @foreach (var area in Model.RedAreaOfInvestigations)
                    {
                        <p class="govuk-body">
                            @area.AreaName - score: @area.Score @area.RatingText
                        </p>
                    }
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Amber areas
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    @foreach (var area in Model.AmberAreaOfInvestigations)
                    {
                        <p class="govuk-body">
                            @area.AreaName - score: @area.Score @area.RatingText
                        </p>
                    }
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Green areas
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                    @foreach (var area in Model.GreenAreaOfInvestigations)
                    {
                        <p class="govuk-body">
                            @area.AreaName - score: @area.Score @area.RatingText
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Finance tools</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("CompareYourCosts", Model.Urn)</li>
            <li>@await Component.InvokeAsync("ViewYourAreasForInvestigation", Model.Urn)</li>
            <li>@await Component.InvokeAsync("CurriculumFinancialPlanning", Model.Urn)</li>
            <li>@await Component.InvokeAsync("BenchmarkWorkforce", Model.Urn)</li>
        </ul>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Resources</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("FindCommercialResources")</li>
            <li>@await Component.InvokeAsync("HistoricData", Model.Urn)</li>
            <li>@await Component.InvokeAsync("SchoolDetails", Model.Urn)</li>
        </ul>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">How we can help</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("HelpWithThisService")</li>
            <li>@await Component.InvokeAsync("AskForHelpFromAnSrma")</li>
            <li>@await Component.InvokeAsync("SubmitAnEnquiry")</li>
        </ul>
    </div>
</div>

@section scripts
{
    <script type="module">
      import { initAll } from '/js/govuk-frontend.min.js'
      initAll()
    </script>
}