@model Web.App.ViewModels.SchoolViewModel


<div class="govuk-grid-column-full">
    @if (!string.IsNullOrEmpty(Model.CustomDataId))
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    You are viewing the originally reported data
                </h3>
                <p>
                    The information displayed is the originally reported data, not the customised data that was provided.
                </p>
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("CustomData", "School", new { urn = Model.Urn })">
                        View custom data set
                    </a>
                </p>
            </div>
        </div>
    }
    else if (Model.ComparatorReverted == true)
    {
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">You have now removed all the schools you chose</h3>
                <p class="govuk-body">
                    Benchmarking has changed back to the sets of similar schools we chose originally.
                </p>
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("Index", "SchoolComparatorsCreate", new { urn = Model.Urn })">
                        Choose a new set of your own schools
                    </a>
                </p>
            </div>
        </div>
    }
    else if (Model.ComparatorGenerated.HasValue && Model.HasMetricRag)
    {
        var success = Model.ComparatorGenerated == true;
        <div class="govuk-notification-banner govuk-notification-banner--@(success ? "success" : "failure")" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    @(success ? "Success" : "Error")
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">@(success ? "You are now benchmarking against your own set of schools" : "Unable to benchmark against your own set of schools")</h3>
                @if (!success)
                {
                    <p class="govuk-body">
                        Please try again later.
                    </p>
                }
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("UserDefined", "SchoolComparators", new { urn = Model.Urn })">
                        View and change your set of schools
                    </a>
                </p>
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("Revert", "SchoolComparators", new { urn = Model.Urn })"
                       id="revert-set">
                        Change back to the sets of schools we chose
                    </a>
                </p>
            </div>
        </div>
    }
    else if (!Model.HasMetricRag && !string.IsNullOrEmpty(Model.UserDefinedSetId))
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    You've chosen fewer than 10 schools so we cannot display spending priorities
                </h3>
                <p>
                    You're now benchmarking against your chosen schools, but to see spending priorities you need to choose 10 or more schools.
                </p>
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("UserDefined", "SchoolComparators", new { urn = Model.Urn })">
                        Choose more schools
                    </a>
                </p>
                <p>
                    <a class="govuk-notification-banner__link"
                       href="@Url.Action("Revert", "SchoolComparators", new { urn = Model.Urn })"
                       id="revert-set">
                        Change back to the sets of schools we chose
                    </a>
                </p>
            </div>
        </div>
    }
</div>