@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanning.SchoolPlanViewModel

@if (Model.MixedAgeReceptionYear1)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedReceptionYear1)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedReceptionYear1)">
            Pupil figures for reception and year 1
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedReceptionYear1)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedReceptionYear1)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedReceptionYear1)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedReceptionYear1)"
               name="@nameof(Model.PupilsMixedReceptionYear1)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedReceptionYear1">
    </div>
}


@if (Model.MixedAgeYear1Year2)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear1Year2)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedYear1Year2)">
            Pupil figures for year 1 and year 2
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear1Year2)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedYear1Year2)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear1Year2)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedYear1Year2)"
               name="@nameof(Model.PupilsMixedYear1Year2)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedYear1Year2">
    </div>
}


@if (Model.MixedAgeYear2Year3)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear2Year3)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedYear2Year3)">
            Pupil figures for year 2 and year 3
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear2Year3)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedYear2Year3)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear2Year3)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedYear2Year3)"
               name="@nameof(Model.PupilsMixedYear2Year3)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedYear2Year3">
    </div>
}


@if (Model.MixedAgeYear3Year4)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear3Year4)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedYear3Year4)">
            Pupil figures for year 3 and year 4
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear3Year4)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedYear3Year4)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear3Year4)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedYear3Year4)"
               name="@nameof(Model.PupilsMixedYear3Year4)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedYear3Year4">
    </div>
}


@if (Model.MixedAgeYear4Year5)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear4Year5)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedYear4Year5)">
            Pupil figures for year 4 and year 5
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear4Year5)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedYear4Year5)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear4Year5)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedYear4Year5)"
               name="@nameof(Model.PupilsMixedYear4Year5)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedYear4Year5">
    </div>

}

@if (Model.MixedAgeYear5Year6)
{
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear5Year6)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PupilsMixedYear5Year6)">
            Pupil figures for year 5 and year 6
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear5Year6)))
        {
            <p id="year-7-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PupilsMixedYear5Year6)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PupilsMixedYear5Year6)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PupilsMixedYear5Year6)"
               name="@nameof(Model.PupilsMixedYear5Year6)"
               type="number"
               spellcheck="false"
               value="@Model.PupilsMixedYear5Year6">
    </div>
}
