@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanFinancesViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningYear;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
        <p class="govuk-body">Here is some information we hold about your school.</p>
        <h2 class="govuk-heading-m">Figures from @Model.FinancePeriod</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total income
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.CurrentTotalIncome
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total expenditure
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.CurrentTotalExpenditure
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total teacher costs
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.CurrentTotalTeacherCosts
                </dd>
            </div>
            @if (Model.IsPrimary)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total education support staff costs
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">
                        @Model.CurrentEducationSupportStaffCosts
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full time equivalent teachers
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.CurrentTotalNumberOfTeachersFte
                </dd>
            </div>
        </dl>
        @using (Html.BeginForm("PrePopulateData", "SchoolPlanningSteps", new { urn = Model.Urn, year = Model.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError("useFigures") ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to use these figures in your plan?
                        </h2>
                    </legend>
                    @if (ViewData.ModelState.HasError("useFigures"))
                    {
                        <p id="use-figures-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["useFigures"]?.Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="useFigures-yes" name="useFigures" type="radio" value="true" @(Model.UseFigures == true ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="useFigures-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="useFigures-no" name="useFigures" type="radio" value="false" @(Model.UseFigures == false ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="useFigures-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>