@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningHasMixedAgeClasses;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("PrimaryHasMixedAgeClasses", "SchoolPlanningSteps", new { urn = Model.Urn, year = Model.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
              <div class="@(ViewData.ModelState.HasError(nameof(Model.HasMixedAgeClasses)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.Name</span>
                        <h1 class="govuk-fieldset__heading">
                            @ViewData[ViewDataKeys.Title]
                        </h1>
                    </legend>
                    @if (ViewData.ModelState.HasError(nameof(Model.HasMixedAgeClasses)))
                    {
                        <p id="mixed-age-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.HasMixedAgeClasses)]?.Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.HasMixedAgeClasses)-Yes" name="@nameof(Model.HasMixedAgeClasses)" type="radio" value="true" @(Model.HasMixedAgeClasses == true ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasMixedAgeClasses)-Yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.HasMixedAgeClasses)-No" name="@nameof(Model.HasMixedAgeClasses)" type="radio" value="false" @(Model.HasMixedAgeClasses == false ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasMixedAgeClasses)-No">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>