@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanViewModel

@{
    ViewData[ViewDataConstants.Title] = PageTitleConstants.SchoolPlanningTotalEducationSupport;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("TotalEducationSupport", "SchoolPlanningSteps", new { urn = Model.Urn, year = Model.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError(nameof(Model.EducationSupportStaffCosts)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <span class="govuk-caption-l">@Model.Name</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="total-education-support">
                        @ViewData[ViewDataConstants.Title]
                    </label>
                </h1>
                @if (ViewData.ModelState.HasError(nameof(Model.EducationSupportStaffCosts)))
                {
                    <p id="total-education-support-error" class="govuk-error-message">
                        @if (ViewData.ModelState[nameof(Model.EducationSupportStaffCosts)]?.Errors.Count > 0)
                        {
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.EducationSupportStaffCosts)]?.Errors.First().ErrorMessage
                        }
                    </p>
                }
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="@(ViewData.ModelState.HasError(nameof(Model.EducationSupportStaffCosts)) ? "govuk-input govuk-input--width-10 govuk-input--error" : "govuk-input govuk-input--width-10")"
                           id="total-education-support" name="@nameof(Model.EducationSupportStaffCosts)"
                           type="number"
                           spellcheck="false"
                           value="@Model.EducationSupportStaffCosts">
                </div>
            </div>
            <div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        }
    </div>
</div>