@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolDeploymentPlanViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Inputs for curriculum and financial metrics</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total income</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TotalIncome.ToCurrency()
        </td>
        <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> total income</span>
            </a>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total expenditure</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TotalExpenditure.ToCurrency()
        </td>
        <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> total expenditure</span>
            </a>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total teacher costs</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TotalTeacherCosts.ToCurrency()
        </td>
        <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> total teacher costs</span>
            </a>
        </td>
    </tr>
    @if (Model.IsPrimary)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total education support staff costs</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @Model.EducationSupportStaffCosts.ToCurrency()
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Change<span class="govuk-visually-hidden"> total education support staff costs</span>
                </a>
            </td>
        </tr>    
    }
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Full time equivalent teachers</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TotalNumberOfTeachersFte
        </td>
        <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> full time equivalent teachers</span>
            </a>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Length of your timetable cycle (periods)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TimetablePeriods
        </td>
        <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> length of your timetable cycle</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>