@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanViewModel
@{
    ViewBag.Title = PageTitleConstants.SchoolPlanningYearSelect;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("SelectYear", "SchoolPlanning", new { urn = Model.Urn }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError("year") ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.Name</span>
                        <h1 class="govuk-fieldset__heading">
                            @ViewData["Title"]
                        </h1>
                    </legend>
                    <div id="changedName-hint" class="govuk-hint">
                        If you select an academic year with a plan, the previously entered data will appear
                    </div>
                    @if (ViewData.ModelState.HasError("year"))
                    {
                        <p id="nationality-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["year"]?.Errors.First().ErrorMessage
                        </p>
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var year in Model.AvailableYears)
                        {
                            <div class="govuk-radios__item">

                                <input class="govuk-radios__input" id="year-@year" name="year" type="radio" value="@year" @(Model.SelectedYear == year ? "checked" : "")>

                                <label class="govuk-label govuk-radios__label" for="year-@year">
                                    @($"{year - 1} - {year}")
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>