@model EducationBenchmarking.Web.ViewModels.SchoolWorkforceViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Workforce;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "FindOrganisation")" class="govuk-link govuk-link--no-visited-state">Change school</a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Compare your workforce data against similar schools</p>
        <a href="@Url.Action("Index", "SchoolComparatorSet", new { urn = Model.Urn, referrer = Referrers.SchoolWorkforce})" role="button" class="govuk-button" data-module="govuk-button">
            View your comparator set
        </a>
    </div>
</div>

<div id="compare-your-workforce" data-type="@OrganisationTypes.School" data-id="@Model.Urn" data-academy-year="@Model.AcademiesFinancePeriod" data-maintained-year="@Model.MaintainedSchoolsFinancePeriod"></div>

@await Component.InvokeAsync("SchoolFinanceTools", new {identifier = Model.Urn, tools = new [] { FinanceTools.FinancialPlanning, FinanceTools.CompareYourCosts}})