@using Newtonsoft.Json
@using Web.App.Extensions
@using Web.App.ViewModels
@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolFinancialFormViewModel

@using (Html.BeginForm("Index", "LocalAuthority", new
        {
            code = Model.Code
        }, FormMethod.Post, true, new
        {
            novalidate = "novalidate",
            role = "search"
        }))
{
    @Html.Hidden(LocalAuthorityViewModel.FormFieldNames.Fragment, Model.TabId)
    if (Model.OtherFormValues != null)
    {
        @Html.Hidden(LocalAuthorityViewModel.FormFieldNames.OtherFormFields, Model.OtherFormValues.ToJson(Formatting.None))
    }

    @Html.Hidden($"{Model.FormPrefix}{LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.Sort}", Model.Sort)
    @Html.Hidden($"{Model.FormPrefix}{LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.Rows}", Model.AllRows ? LocalAuthoritySchoolFinancialFormViewModel.FormFieldValues.All : string.Empty)

    @if (Model.FiltersVisible)
    {
        @Html.Hidden($"{Model.FormPrefix}{LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.FiltersVisible}", LocalAuthoritySchoolFinancialFormViewModel.FormFieldValues.Show)
    }
    else
    {
        @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilterHidden", Model)
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
            <button type="submit" class="govuk-button govuk-button--secondary" data-testid="toggle-financial-filters"
                    name="@Model.FormPrefix@LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.FiltersVisible"
                    value="@(Model.FiltersVisible ? LocalAuthoritySchoolFinancialFormViewModel.FormFieldValues.Hide : LocalAuthoritySchoolFinancialFormViewModel.FormFieldValues.Show)">
                @(Model.FiltersVisible ? "Hide filters" : "Show filters")
            </button>
        </div>
        @if (Model.FiltersVisible)
        {
            <div class="govuk-grid-column-one-third">
                @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilter", Model)
            </div>
        }

        <div class="govuk-grid-column-@(Model.FiltersVisible ? "two-thirds" : "full")">
            @if (Model.Results.Length == 0)
            {
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
                <p data-testid="financial-search-warning" class="govuk-body-s govuk-!-margin-top-6">
                    We couldn't find any schools matching your filters.
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-6">
            }
            else
            {
                @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsTable", Model)
                @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsShowAll", Model)
            }
        </div>
    </div>
}