@model Web.App.ViewModels.SchoolComparisonViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Comparison;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Compare your spending costs against similar schools</p>
        @await Component.InvokeAsync("ComparatorSetDetails", new { identifier = Model.Urn })
    </div>
</div>

<div id="compare-your-costs" data-type="@OrganisationTypes.School" data-id="@Model.Urn" data-academy-year="@Model.AcademiesFinancePeriod" data-maintained-year="@Model.MaintainedSchoolsFinancePeriod"></div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.FinancialPlanning, FinanceTools.BenchmarkWorkforce } })