@using Newtonsoft.Json
@using Web.App.Extensions
@model Web.App.ViewModels.SchoolComparisonViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Comparison;
    var hasUserDefinedSet = !string.IsNullOrEmpty(Model.UserDefinedSetId);
    var hasCustomData = !string.IsNullOrEmpty(Model.CustomDataId);
    var hasMissingComparatorSet = !hasUserDefinedSet && !Model.HasDefaultComparatorSet;
    const string eventType = "compare-your-costs-loaded";
    const string saveModalPortalId = "compare-your-costs-portal";
    const string saveClassName = "costs-chart-wrapper";
    const string saveTitleAttr = "data-title";
    var saveFileName = $"benchmark-spending-{Model.Urn}.zip";
    var downloadLink = Url.ActionLink("Download", "SchoolComparison", new
    {
        urn = Model.Urn,
        customDataId = Model.CustomDataId
    });
}

@if (Model is { PeriodCoveredByReturn: < 12 })
{
    @await Html.PartialAsync("_IncompleteFinances")
}

@if (!hasMissingComparatorSet)
{
    <feature name="@FeatureFlags.KS4ProgressBanding" negate="true">
        @await Component.InvokeAsync("PageActions", new
        {
            actions = new[]
            {
                PageActions.SaveChartImages,
                PageActions.DownloadData
            },
            saveClassName,
            saveTitleAttr,
            saveFileName,
            waitForEventType = eventType,
            downloadLink
        })
    </feature>
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Urn,
    kind = OrganisationTypes.School
})

@if (!hasMissingComparatorSet)
{
    <feature name="@FeatureFlags.KS4ProgressBanding">
        @await Component.InvokeAsync("DataSourceInset", new
        {
            organisationType = OrganisationTypes.School,
            sourceType = DataSourceTypes.Spending,
            isPartOfTrust = Model.IsPartOfTrust,
            showKs4Progress = Model.HasProgressIndicators,
            urn = Model.Urn
        })
    </feature>
    <feature name="@FeatureFlags.KS4ProgressBanding" negate="true">
        @await Component.InvokeAsync("DataSource", new
        {
            organisationType = OrganisationTypes.School,
            sourceType = DataSourceTypes.Spending,
            isPartOfTrust = Model.IsPartOfTrust,
            additionText = new[]
            {
                "Benchmark your spending against similar schools."
            }
        })
    </feature>
}
<feature name="@FeatureFlags.KS4ProgressBanding">
    @await Component.InvokeAsync("ComparatorSetDetails", new
    {
        identifier = Model.Urn,
        hasUserDefinedSet,
        hasCustomData,
        hasMissingComparatorSet,
        showAsBulletedList = true
    })
</feature>

<feature name="@FeatureFlags.KS4ProgressBanding" negate="true">
    @await Component.InvokeAsync("ComparatorSetDetails", new
    {
        identifier = Model.Urn,
        hasUserDefinedSet,
        hasCustomData,
        hasMissingComparatorSet
    })
</feature>

@if (!hasMissingComparatorSet)
{
    <feature name="@FeatureFlags.KS4ProgressBanding">
        <div id="compare-your-costs-2"
             data-type="@OrganisationTypes.School"
             data-id="@Model.Urn"
             data-suppress-negative-or-zero="true"
             data-dispatch-event-type="@eventType"
             data-cost-code-map="@Model.CostCodeMap.ToJson(Formatting.None)"
             data-is-part-of-trust="@Model.IsPartOfTrust.ToString().ToLower()"
             data-progress-indicators="@Model.WellOrAboveAverageKS4ProgressBandingsInComparatorSet.ToJson(Formatting.None)"
             data-save-class-name="@saveClassName"
             data-save-title-attr="@saveTitleAttr"
             data-save-file-name="@saveFileName"
             data-download-link="@downloadLink"
             data-save-modal-portal-id="@saveModalPortalId">
        </div>
        @section modal {
            <div id="@saveModalPortalId"></div>
        }
    </feature>
    <feature name="@FeatureFlags.KS4ProgressBanding" negate="true">
        <div id="compare-your-costs"
             data-type="@OrganisationTypes.School"
             data-id="@Model.Urn"
             data-suppress-negative-or-zero="true"
             data-dispatch-event-type="@eventType"
             data-cost-code-map="@Model.CostCodeMap.ToJson(Formatting.None)"
             data-is-part-of-trust="@Model.IsPartOfTrust.ToString().ToLower()">
        </div>
    </feature>
}

@await Html.PartialAsync("FinanceTools/_School", Model.Tools)