@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.ResourcesViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Resources</h2>
        <ul class="app-links">
            @foreach (var resource in Model.Resources)
            {
                switch (resource)
                {
                    case Resources.SchoolResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Resources", "School", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Find ways to spend less
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Use these resources to help reduce your spending and costs.
                            </p>
                        </li>
                        break;
                    case Resources.SchoolHistoricData:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("History", "School", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    View historic data
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View data from previous financial years for this school.
                            </p>
                        </li>
                        break;
                    case Resources.SchoolDetails:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Details", "School", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    School contact details
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View contact details for this school.
                            </p>
                        </li>
                        break;
                    case Resources.TrustResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Resources", "Trust", new { companyNumber = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Find ways to spend less
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Use these to help reduce your spending and costs
                            </p>
                        </li>
                        break;
                    case Resources.TrustHistoricData:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("History", "Trust", new { companyNumber = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    View historic data
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View financial data from previous years.
                            </p>
                        </li>
                        break;
                    case Resources.TrustDetails:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Details", "Trust", new { companyNumber = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Trust contact details
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View contact details for this trust.
                            </p>
                        </li>
                        break;
                    case Resources.LocalAuthorityResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Resources", "LocalAuthority", new { code = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Find ways to spend less
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Use these to help reduce your spending and costs
                            </p>
                        </li>
                        break;
                    case Resources.DataSource:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "DataSource")" class="govuk-link govuk-link--no-visited-state">
                                    Data sources and interpretation
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Find out where our data comes from and how to interpret it.
                            </p>
                        </li>
                        break;
                }
            }
        </ul>
    </div>
</div>