@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.ResourcesViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Resources</h2>
        <ul class="app-links">
            @foreach (var resource in Model.Resources)
            {
                switch (resource)
                {
                    case Resources.SchoolResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolResources", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Find ways to spend less
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Use these to help reduce your spending and costs
                            </p>
                        </li>
                        break;
                    case Resources.SchoolHistoricData:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolHistory", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    View historic data
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View financial data from previous years.
                            </p>
                        </li>
                        break;
                    case Resources.SchoolDetails:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolDetails", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    School contact details
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View contact details for this school.
                            </p>
                        </li>
                        break;
                    case Resources.TrustResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "TrustResources", new { companyNumber = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    Find ways to spend less
                                </a>
                            </h3>
                            <p class="govuk-body">
                                Use these to help reduce your spending and costs
                            </p>
                        </li>
                        break;
                    case Resources.TrustHistoricData:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "TrustHistory", new { companyNumber = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">
                                    View historic data
                                </a>
                            </h3>
                            <p class="govuk-body">
                                View financial data from previous years.
                            </p>
                        </li>
                        break;                        
                }
            }
        </ul>
    </div>
</div>