@using Web.App.Extensions
@using Web.App.ViewModels
@model Web.App.ViewModels.SchoolDeploymentPlanViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Calculated financial metrics</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Income per pupil</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.IncomePerPupil.ToCurrency()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Teacher costs as a percentage of expenditure</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TeacherCostPercentageExpenditure.ToPercent()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Teacher costs as a percentage of income</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TeacherCostPercentageIncome.ToPercent()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">In-year balance</th>
        <td class="govuk-table__cell">
            @await Component.InvokeAsync("Tag", new { rating = Model.InYearBalanceRating })
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.InYearBalance.ToCurrency()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Cost per lesson</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.CostPerLesson.ToCurrency()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Average teacher cost</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.AverageTeacherCost.ToCurrency()
        </td>
    </tr>
    @if (Model.IsPrimary)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Average teaching assistant cost</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @Model.AverageTeachingAssistantCost.ToCurrency()
            </td>
        </tr>
    }
    </tbody>
</table>