@using Web.App.Extensions
@model Web.App.ViewModels.SchoolPlanViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanning;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "FindOrganisation")" class="govuk-link govuk-link--no-visited-state">Change school</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="@Url.Action("Start", "SchoolPlanningCreate", new { urn = Model.Urn })" role="button" class="govuk-button">
            Create new plan
        </a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Deployment plans</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Financial year</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">Updated by</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var plan in Model.Plans.OrderByDescending(x => x.Year))
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@plan.Year.ToFinanceYear()</th>
                    <td class="govuk-table__cell">
                        @(plan.UpdatedAt.HasValue ? plan.UpdatedAt.Value.ToString("dd MMM yyyy") : plan.Created.ToString("dd MMM yyyy"))
                    </td>
                    <td class="govuk-table__cell">
                        @(plan.UpdatedBy ?? plan.CreatedBy)
                    </td>
                    <td class="govuk-table__cell">
                        <a href="@Url.Action("View", new { urn = Model.Urn, year = plan.Year })" class="govuk-link govuk-link--no-visited-state">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.CompareYourCosts, FinanceTools.BenchmarkWorkforce } })