@model Web.App.ViewModels.SchoolPlanCreateViewModel

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleHeadteacher)" name="@nameof(Model.PlanInput.ManagementRoleHeadteacher)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleHeadteacher is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleHeadteacher)">
            Headteacher
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleDeputyHeadteacher)" name="@nameof(Model.PlanInput.ManagementRoleDeputyHeadteacher)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleDeputyHeadteacher is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleDeputyHeadteacher)">
            Deputy headteacher
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleNumeracyLead)" name="@nameof(Model.PlanInput.ManagementRoleNumeracyLead)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleNumeracyLead is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleNumeracyLead)">
            Numeracy lead
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleLiteracyLead)" name="@nameof(Model.PlanInput.ManagementRoleLiteracyLead)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleLiteracyLead is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleLiteracyLead)">
            Literacy lead
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleHeadSmallCurriculum)" name="@nameof(Model.PlanInput.ManagementRoleHeadSmallCurriculum)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleHeadSmallCurriculum is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleHeadSmallCurriculum)">
            Head of small curriculum area
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleHeadKs1)" name="@nameof(Model.PlanInput.ManagementRoleHeadKs1)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleHeadKs1 is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleHeadKs1)">
            Head of KS1
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleHeadKs2)" name="@nameof(Model.PlanInput.ManagementRoleHeadKs2)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleHeadKs2 is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleHeadKs2)">
            Head of KS2
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.PlanInput.ManagementRoleSenco)" name="@nameof(Model.PlanInput.ManagementRoleSenco)" value="true" type="checkbox" @(Model.PlanInput?.ManagementRoleSenco is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.PlanInput.ManagementRoleSenco)">
            Special educational needs coordinator (SENCO)
        </label>
    </div>    
</div>