@using Web.App.Extensions
@model Web.App.ViewModels.SchoolPlanCreateViewModel

@if (Model.PlanInput?.PupilsYear7.ToInt() is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear7)" value="@Model.PlanInput.PupilsYear7"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear7)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear7)">
            Teacher period allocation figures from year 7
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear7)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear7)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear7)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear7)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear7)"
               name="@nameof(Model.PlanInput.TeachersYear7)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear7">
    </div>
}

@if (Model.PlanInput?.PupilsYear8.ToInt() is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear8)" value="@Model.PlanInput.PupilsYear8"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear8)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear8)">
            Teacher period allocation figures from year 8
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear8)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear8)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear8)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear8)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear8)"
               name="@nameof(Model.PlanInput.TeachersYear8)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear8">
    </div>
}

@if (Model.PlanInput?.PupilsYear9.ToInt() is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear9)" value="@Model.PlanInput.PupilsYear9"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear9)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear9)">
            Teacher period allocation figures from year 9
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear9)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear9)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear9)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear9)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear9)"
               name="@nameof(Model.PlanInput.TeachersYear9)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear9">
    </div>
}

@if (Model.PlanInput?.PupilsYear10.ToInt() is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear10)" value="@Model.PlanInput.PupilsYear10"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear10)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear10)">
            Teacher period allocation figures from year 10
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear10)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear10)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear10)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear10)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear10)"
               name="@nameof(Model.PlanInput.TeachersYear10)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear10">
    </div>
}

@if (Model.PlanInput?.PupilsYear11.ToInt() is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear11)" value="@Model.PlanInput.PupilsYear11"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear11)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear11)">
            Teacher period allocation figures from year 11
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear11)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear11)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear11)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear11)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear11)"
               name="@nameof(Model.PlanInput.TeachersYear11)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear11">
    </div>
}

@if (Model.PlanInput?.PupilsYear12 is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear12)" value="@Model.PlanInput.PupilsYear12"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear12)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear12)">
            Teacher period allocation figures from year 12
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear12)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear12)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear12)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear12)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear12)"
               name="@nameof(Model.PlanInput.TeachersYear12)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear12">
    </div>
}

@if (Model.PlanInput?.PupilsYear13 is > 0)
{
    <input type="hidden" name="@nameof(Model.PlanInput.PupilsYear13)" value="@Model.PlanInput.PupilsYear13"/>
    
    <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear13)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
        <label class="govuk-label govuk-label--m" for="@nameof(Model.PlanInput.TeachersYear13)">
            Teacher period allocation figures from year 13
        </label>
        @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear13)))
        {
            <p id="@nameof(Model.PlanInput.TeachersYear13)-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.TeachersYear13)]?.Errors.First().ErrorMessage
            </p>
        }
        <input class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.TeachersYear13)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
               id="@nameof(Model.PlanInput.TeachersYear13)"
               name="@nameof(Model.PlanInput.TeachersYear13)"
               type="number"
               spellcheck="false"
               value="@Model.PlanInput.TeachersYear13">
    </div>
}
