@model Web.App.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningOtherTeachingPeriodsReview;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.School.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
        
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name of teaching period</th>
                        <th scope="col" class="govuk-table__header">Number of periods per timetable cycle</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                @for(var i = 0; i < Model.Plan?.OtherTeachingPeriods.Count; i++)
                {
                    <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Model.Plan?.OtherTeachingPeriods[i].PeriodName</th>
                    <td class="govuk-table__cell">@Model.Plan?.OtherTeachingPeriods[i].PeriodsPerTimetable</td>
                    </tr>
                }
                </tbody>
            </table>
        <a href="@Url.Action("ManagementRoles", "SchoolPlanningCreate", new { urn = Model.Plan?.Urn, year = Model.Plan?.Year })" role="button" class="govuk-button">
            Continue
        </a>
    </div>
</div>
