@using Web.App.Extensions
@model Web.App.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningYear;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.PartialAsync("_ErrorSummary")
        <span class="govuk-caption-l">@Model.School.SchoolName</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>

        <p class="govuk-body">Here is some information we hold about your school.</p>

        <h2 class="govuk-heading-m">Figures from @($"{Model.Finances?.YearEnd - 1} - {Model.Finances?.YearEnd}")</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total income
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.Finances?.TotalIncome.ToCurrency(0)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total expenditure
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.Finances?.TotalExpenditure.ToCurrency(0)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total teacher costs
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.Finances?.TeachingStaffCosts.ToCurrency(0)
                </dd>
            </div>
            @if (Model.School.IsPrimary)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total education support staff costs
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">
                        @Model.Finances?.EducationSupportStaffCosts.ToCurrency(0)
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full time equivalent teachers
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    @Model.Finances?.TotalNumberOfTeachersFte
                </dd>
            </div>
        </dl>

        @using (Html.BeginForm("PrePopulateData", "SchoolPlanningCreate", new { urn = Model.School.URN, year = Model.PlanInput?.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError(nameof(Model.PlanInput.UseFigures)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to use these figures in your plan?
                        </h2>
                    </legend>
                    <input type="hidden" name="@nameof(Model.PlanInput.TotalIncome)" value="@($"{Model.Finances?.TotalIncome:0}")"/>
                    <input type="hidden" name="@nameof(Model.PlanInput.TotalExpenditure)" value="@($"{Model.Finances?.TotalExpenditure:0}")"/>
                    <input type="hidden" name="@nameof(Model.PlanInput.TotalTeacherCosts)" value="@($"{Model.Finances?.TeachingStaffCosts:0}")"/>
                    <input type="hidden" name="@nameof(Model.PlanInput.EducationSupportStaffCosts)" value="@($"{Model.Finances?.EducationSupportStaffCosts:0}")"/>
                    <input type="hidden" name="@nameof(Model.PlanInput.TotalNumberOfTeachersFte)" value="@Model.Finances?.TotalNumberOfTeachersFte"/>

                    @if (ViewData.ModelState.HasError(nameof(Model.PlanInput.UseFigures)))
                    {
                        <p id="@nameof(Model.PlanInput.UseFigures)-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.PlanInput.UseFigures)]?.Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="useFigures-yes" name="@nameof(Model.PlanInput.UseFigures)" type="radio" value="true" @(Model.PlanInput?.UseFigures == true ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="useFigures-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="useFigures-no" name="@nameof(Model.PlanInput.UseFigures)" type="radio" value="false" @(Model.PlanInput?.UseFigures == false ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="useFigures-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>