@using Web.App.Extensions
@model Web.App.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningTeachingAssistantFigures;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("TeachingAssistantFigures", "SchoolPlanningCreate", new { urn = Model.School.Urn, year = Model.Plan?.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.School.Name</span>
                        <h1 class="govuk-fieldset__heading">
                            @ViewData[ViewDataKeys.Title]
                        </h1>
                    </legend>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                            Enter the full time equivalent teaching assistant figures for each year.
                        </p>
                    </div>

                    @if (Model.Plan?.PupilsMixedReceptionYear1.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedReceptionYear1)" value="@Model.Plan.PupilsMixedReceptionYear1" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedReceptionYear1)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedReceptionYear1)">
                                Teaching assistant figures for reception and year 1
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedReceptionYear1)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedReceptionYear1)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedReceptionYear1)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedReceptionYear1)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedReceptionYear1)"
                                   name="@nameof(Model.Plan.AssistantsMixedReceptionYear1)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedReceptionYear1">
                        </div>
                    }

                    @if (Model.Plan?.PupilsMixedYear1Year2.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedYear1Year2)" value="@Model.Plan.PupilsMixedYear1Year2" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear1Year2)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedYear1Year2)">
                                Teaching assistant figures for year 1 and year 2
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear1Year2)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedYear1Year2)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedYear1Year2)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear1Year2)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedYear1Year2)"
                                   name="@nameof(Model.Plan.AssistantsMixedYear1Year2)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedYear1Year2">
                        </div>
                    }

                    @if (Model.Plan?.PupilsMixedYear2Year3.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedYear2Year3)" value="@Model.Plan.PupilsMixedYear2Year3" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear2Year3)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedYear2Year3)">
                                Teaching assistant figures for year 2 and year 3
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear2Year3)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedYear2Year3)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedYear2Year3)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear2Year3)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedYear2Year3)"
                                   name="@nameof(Model.Plan.AssistantsMixedYear2Year3)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedYear2Year3">
                        </div>
                    }

                    @if (Model.Plan?.PupilsMixedYear3Year4.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedYear3Year4)" value="@Model.Plan.PupilsMixedYear3Year4" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear3Year4)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedYear3Year4)">
                                Teaching assistant figures for year 3 and year 4
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear3Year4)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedYear3Year4)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedYear3Year4)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear3Year4)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedYear3Year4)"
                                   name="@nameof(Model.Plan.AssistantsMixedYear3Year4)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedYear3Year4">
                        </div>
                    }

                    @if (Model.Plan?.PupilsMixedYear4Year5.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedYear4Year5)" value="@Model.Plan.PupilsMixedYear4Year5" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear4Year5)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedYear4Year5)">
                                Teaching assistant figures for year 4 and year 5
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear4Year5)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedYear4Year5)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedYear4Year5)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear4Year5)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedYear4Year5)"
                                   name="@nameof(Model.Plan.AssistantsMixedYear4Year5)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedYear4Year5">
                        </div>
                    }

                    @if (Model.Plan?.PupilsMixedYear5Year6.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsMixedYear5Year6)" value="@Model.Plan.PupilsMixedYear5Year6" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear5Year6)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsMixedYear5Year6)">
                                Teaching assistant figures for year 5 and year 6
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear5Year6)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsMixedYear5Year6)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsMixedYear5Year6)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsMixedYear5Year6)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsMixedYear5Year6)"
                                   name="@nameof(Model.Plan.AssistantsMixedYear5Year6)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsMixedYear5Year6">
                        </div>
                    }

                    @if (Model.Plan?.PupilsNursery is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsNursery)" value="@Model.Plan.PupilsNursery" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsNursery)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsNursery)">
                                Teaching assistant figures for nursery
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsNursery)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsNursery)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsNursery)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsNursery)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsNursery)"
                                   name="@nameof(Model.Plan.AssistantsNursery)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsNursery">
                        </div>
                    }

                    @if (Model.Plan?.PupilsReception.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsReception)" value="@Model.Plan.PupilsReception" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsReception)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsReception)">
                                Teaching assistant figures for reception
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsReception)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsReception)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsReception)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsReception)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsReception)"
                                   name="@nameof(Model.Plan.AssistantsReception)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsReception">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear1.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear1)" value="@Model.Plan.PupilsYear1" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear1)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear1)">
                                Teaching assistant figures for year 1
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear1)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear1)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear1)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear1)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear1)"
                                   name="@nameof(Model.Plan.AssistantsYear1)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear1">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear2.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear2)" value="@Model.Plan.PupilsYear2" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear2)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear2)">
                                Teaching assistant figures for year 2
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear2)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear2)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear2)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear2)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear2)"
                                   name="@nameof(Model.Plan.AssistantsYear2)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear2">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear3.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear3)" value="@Model.Plan.PupilsYear3" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear3)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear3)">
                                Teaching assistant figures for year 3
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear3)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear3)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear3)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear3)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear3)"
                                   name="@nameof(Model.Plan.AssistantsYear3)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear3">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear4.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear4)" value="@Model.Plan.PupilsYear4" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear4)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear4)">
                                Teaching assistant figures for year 4
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear4)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear4)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear4)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear4)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear4)"
                                   name="@nameof(Model.Plan.AssistantsYear4)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear4">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear5.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear5)" value="@Model.Plan.PupilsYear5" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear5)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear5)">
                                Teaching assistant figures for year 5
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear5)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear5)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear5)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear5)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear5)"
                                   name="@nameof(Model.Plan.AssistantsYear5)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear5">
                        </div>
                    }

                    @if (Model.Plan?.PupilsYear6.ToInt() is > 0)
                    {
                        <input type="hidden" name="@nameof(Model.Plan.PupilsYear6)" value="@Model.Plan.PupilsYear6" />

                        <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear6)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                            <label class="govuk-label govuk-label--m" for="@nameof(Model.Plan.AssistantsYear6)">
                                Teaching assistant figures for year 6
                            </label>
                            @if (ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear6)))
                            {
                                <p id="@nameof(Model.Plan.AssistantsYear6)-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.AssistantsYear6)]?.Errors.First().ErrorMessage
                                </p>
                            }
                            <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.AssistantsYear6)) ? "govuk-input govuk-input--width-5 govuk-input--error" : "govuk-input govuk-input--width-5")"
                                   id="@nameof(Model.Plan.AssistantsYear6)"
                                   name="@nameof(Model.Plan.AssistantsYear6)"
                                   type="number"
                                   spellcheck="false"
                                   value="@Model.Plan.AssistantsYear6">
                        </div>
                    }

                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>
