@using Web.App.Extensions
@model Web.App.ViewModels.SchoolPlanCreateViewModel

@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningTotalIncome;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("TotalIncome", "SchoolPlanningCreate", new { urn = Model.School.Urn, year = Model.Plan?.Year }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError(nameof(Model.Plan.TotalIncome)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">
                <span class="govuk-caption-l">@Model.School.Name</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="@nameof(Model.Plan.TotalIncome)">
                        @ViewData[ViewDataKeys.Title]
                    </label>
                </h1>
                @if (ViewData.ModelState.HasError(nameof(Model.Plan.TotalIncome)))
                {
                    <p id="@nameof(Model.Plan.TotalIncome)-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Plan.TotalIncome)]?.Errors.First().ErrorMessage
                    </p>
                }
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="@(ViewData.ModelState.HasError(nameof(Model.Plan.TotalIncome)) ? "govuk-input govuk-input--width-10 govuk-input--error" : "govuk-input govuk-input--width-10")" 
                           id="@nameof(Model.Plan.TotalIncome)" 
                           name="@nameof(Model.Plan.TotalIncome)" 
                           type="number" 
                           spellcheck="false" 
                           value="@Model.Plan?.TotalIncome">
                </div>
            </div>
            <div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        }
    </div>
</div>