@model EducationBenchmarking.Web.ViewModels.SchoolPlanCreateViewModel

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleHeadteacher)" name="@nameof(Model.Plan.ManagementRoleHeadteacher)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleHeadteacher is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleHeadteacher)">
            Headteacher
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleDeputyHeadteacher)" name="@nameof(Model.Plan.ManagementRoleDeputyHeadteacher)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleDeputyHeadteacher is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleDeputyHeadteacher)">
            Deputy headteacher
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleNumeracyLead)" name="@nameof(Model.Plan.ManagementRoleNumeracyLead)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleNumeracyLead is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleNumeracyLead)">
            Numeracy lead
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleLiteracyLead)" name="@nameof(Model.Plan.ManagementRoleLiteracyLead)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleLiteracyLead is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleLiteracyLead)">
            Literacy lead
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleHeadSmallCurriculum)" name="@nameof(Model.Plan.ManagementRoleHeadSmallCurriculum)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleHeadSmallCurriculum is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleHeadSmallCurriculum)">
            Head of small curriculum area
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleHeadKs1)" name="@nameof(Model.Plan.ManagementRoleHeadKs1)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleHeadKs1 is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleHeadKs1)">
            Head of KS1
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleHeadKs2)" name="@nameof(Model.Plan.ManagementRoleHeadKs2)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleHeadKs2 is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleHeadKs2)">
            Head of KS2
        </label>
    </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="@nameof(Model.Plan.ManagementRoleSenco)" name="@nameof(Model.Plan.ManagementRoleSenco)" value="true" type="checkbox" @(Model.Plan?.ManagementRoleSenco is true ? "checked" : "")>
        <label class="govuk-label govuk-checkboxes__label" for="@nameof(Model.Plan.ManagementRoleSenco)">
            Special educational needs coordinator (SENCO)
        </label>
    </div>    
</div>