@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningTotalNumberTeachers;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("CreatePlan", "SchoolPlanningCreate", new { urn = Model.Urn, year = Model.Year, step = PlanSteps.TotalNumberTeachers }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="@(ViewData.ModelState.HasError(nameof(Model.TotalNumberOfTeachersFte)) ? "govuk-form-group govuk-form-group--error" : "govuk-form-group")">

                <span class="govuk-caption-l">@Model.Name</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="@nameof(Model.TotalNumberOfTeachersFte)">
                        @ViewData[ViewDataKeys.Title]
                    </label>
                </h1>
                @if (ViewData.ModelState.HasError(nameof(Model.TotalNumberOfTeachersFte)))
                {
                    <p id="@nameof(Model.TotalNumberOfTeachersFte)-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.TotalNumberOfTeachersFte)]?.Errors.First().ErrorMessage
                    </p>
                }
                <input class="@(ViewData.ModelState.HasError(nameof(Model.TotalNumberOfTeachersFte)) 
                                  ? "govuk-input govuk-!-width-one-third govuk-input--error" 
                                  : "govuk-input govuk-!-width-one-third")" 
                       id="@nameof(Model.TotalNumberOfTeachersFte)" 
                       name="@nameof(Model.TotalNumberOfTeachersFte)" 
                       type="number" 
                       spellcheck="false" 
                       value="@Model.TotalNumberOfTeachersFte">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>